#ladder{
	display:flex;
	flex-direction: row;
	justify-content: center space-between;
	width: 100vh;
	background-color: #003096;
}
.round{
	display: flex;
	flex-direction: column;
	justify-content: center space-between;
}
.match{
	color: #030202;
}

.top{
	display:flex;
	flex-direction: row;
	background-color: #CCAE8A;
}

.bottom{
	display:flex;
	flex-direction: row;
	background-color: #AB8557;

}

.team{

}
.lose{
	background-color: #787373;
	color: #453C3C;
}
