#ladder {
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  width: 100vh;
}
.round {
  display: flex;
  flex-direction: column;
  justify-content: center space-between;
  margin-top: auto;
  margin-bottom: auto;
}
.match {
  border: 0.1rem solid black;
  padding: 0.3rem;
  margin: 1rem;
}

.top {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  justify-content: space-between;
}

.top > div {
  float: left;
}

.top > button {
  float: right;
}

.bottom {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  justify-content: space-between;
}

.team {
  padding-right: 0.2rem;
}
.team-grayed-out {
  background-color: #787373;
  color: #453c3c;
}
